<h1>Home - Index</h1>
<br>
<hr>
<br>
<h2>Welcome to my Web Blog rails application! Use the 'Post' and 'Users' tab to start configuring users and posts.</h2>
<br>
<hr>
<br>
<p>Created by: Michael Higginbottom | <a href="mailto:mih39@aber.ac.uk">Email: mih39@aber.ac.uk</a></p>

